body {
    margin: 0;  font-family: Times, sans-serif; background-color: #f8f9fa;
    min-height: 100vh;  display: flex;  flex-direction: column;
}

/* ---------- NAVBAR ---------- */
.navbar {
    display: flex;  align-items: center;
    padding: 25px 40px; background-image: url("/static/images/jungle-leaves.jpeg");
    background-position: center;  color: white; 
    flex-wrap: nowrap;
}

.navbar .logo { font-size: 28px;    font-weight: bold;  margin-right: 30px;}

.logo i {    color: white; font-size: 35px;   }


.navbar .nav-links a {
    color: white;   text-decoration: none;  margin-left: 25px; 
    font-size: 18px; }

.navbar .nav-links a:hover {    text-decoration: underline; }
        
.navbar input[type="text"] {
    width: 180px;   }

        
/* ---------- HERO SEARCH ---------- */
.hero {
    flex-direction: column; justify-content: flex-start;
    align-items: flex-start; height: auto;  text-align: left; padding: 20px 120px;
    background-color: #eaeeb9; 
}

.hero h1 { font-size: 18px;     color: #372b03; font-weight: normal; }


.search-box {
    display: flex;  width: 50px;   max-width: 100%; }

.hero input[type="text"] {  
    width: 45%; }

.search-box input {
    flex: 1;    padding: 15px;  font-size: 16px; color: #372b03;
    border: 1px solid #ccc; border-radius: 30px 0 0 30px;   outline: none;
}

.search-box button {
    padding: 15px 25px; font-size: 16px;    border: none;
    background-color: #3498db;  color: white;   cursor: pointer;
    border-radius: 0 30px 30px 0;   }

.search-box button:hover {  background-color: #2980b9;  }

.paw-side {
    position: absolute;     bottom: 125px;      display: flex;
    gap: 18px;              /* spacing between the two columns */
    pointer-events: none;
}

.paw-column {
    display: flex;  flex-direction: column;     gap: 70px;
}

.paw-column i { font-size: 18px;    color: #4d340d; opacity: 0.5;
}

.paw-left { left: 30px;     }

.paw-side .paw-column:nth-child(2) {        /*for staggered affect*/
    margin-top: 30px;
}

.paw-right {    right: 30px;    }

/*Contribute Buttons*/
.button-container {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 20px;
    width: 100%;
}

.contribute-buttons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    align-self: center
}

.contribute-btn {
    padding: 15px 40px;
    font-size: 20px;
    font-family: Times, sans-serif;
    background-color: #ceeac2f8;
    color: #372b03;
    border: 2px solid #dcdedb;
    border-radius: 8px;
    cursor: pointer;
}

.contribute-btn:hover {
    background-color: hsla(101, 35%, 78%, 0.973);
}

/* NEW ANIMAL FORM */
.form-view {
    display: none;
    width: 100%;
}

.form-view h2 {
    color: #372b03;
    font-size: 18px;
    font-weight: normal;
    font-family: Garamond, serif;
}

.contribution-textarea {
    width: 100%;
    height: 200px;
    font-family: Times, sans-serif;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid #dcdedb;
    background-color: #f0f2d5;
    color: #372b03;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 20px;
    width: 100%;
    margin-top: 5px;
}

/* ---------- RESULTS ---------- */

.results {
    flex: 1;    display: flex;  justify-content: center;    padding: 15px;
    background-color: #eaeeb9
}

.card {
    background-color: #eaeeb9;  width: 1050px;
}

.card h2 {  margin-top: 0;  }

.search-input {     /*search box color*/
    background-color: #dbebd4f8;   
    color: #372b03;
    border: 2px solid #dcdedb;
    border-radius: 5px;
}

.search-input::placeholder {
    color: #342802ad;
}

.search-wrapper {       /*allows search suggestions to go over hero text*/
    position: relative;   
    width: 100%;
    max-width: 400px;
}

.search-wrapper button {
    background-color: #ceeac2f8;
    color: #372b03;
    border: 2px solid #dcdedb;
    border-radius: 5px;
}

.search-wrapper button:hover {
    background-color: hsla(101, 35%, 78%, 0.973);
}

/*SEARCH SUGGESTIONS*/
.suggestions {
        background: #c8eab9f8;  position: absolute;  top: 100%;
        left: 0;    color: #372b03;   width: 300px;
        max-height: 300px;  overflow-y: auto;
        border-radius: 5px; z-index: 9999;
}


.suggestion {
    padding: 10px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #bcdcaef8;
}


/* FOOTER */

.footer {
    background-image: url("/static/images/bark-texture3.jpeg");
    background-position: center;  color: white;    padding: 30px 70px;
    display: flex;  justify-content: space-between; align-items: center;
    }


.footer-logo {  font-size: 23px;    font-weight: bold;
}

.footer-logo i {    margin-left: 8px;   font-size: 30px}


.footer-links { display: flex;  align-items: center;    gap: 50px;  
            }

.footer-links a {
    color: rgb(250, 247, 247);   text-decoration: none;  font-size: 18px;    }

.footer-links a:hover { text-decoration: underline; }

.footer-links span {  color: rgb(250, 247, 247); 
        font-size: 16px;    opacity: 0.8; }